In [22]:
from tkinter.filedialog import askopenfilename
import pandas as pd

In [23]:
ruta_csv = askopenfilename()
df = pd.read_csv(ruta_csv, sep=",")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   tipo    10 non-null     object
 2   monto   10 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 372.0+ bytes

In [25]:
df.head()

   id     tipo   monto
0   1  Crédito   941.3
1   2   Débito   540.0
2   3  Crédito   439.2
3   4   Débito   325.0
4   5  Crédito  1070.5

In [26]:
total_debito = df["monto"].loc[df["tipo"] == "Débito"].sum()
total_credito = df["monto"].loc[df["tipo"] == "Crédito"].sum()

balance_final = total_credito - total_debito
print(balance_final)

1736.0

In [27]:
tr_mayor = df.loc[df["monto"] == df["monto"].max()]
tr_mayor

   id     tipo   monto
4   5  Crédito  1070.5

In [28]:
print(tr_mayor.index[0])

4

In [29]:
id_tr_mayor = tr_mayor["id"][tr_mayor.index[0]]
print(id_tr_mayor)

5

In [30]:
monto_tr_mayor = tr_mayor["monto"][tr_mayor.index[0]]
print(monto_tr_mayor)

1070.5

In [31]:
df["tipo"].groupby(df["tipo"]).count()

tipo
Crédito    6
Débito     4
Name: tipo, dtype: int64

In [32]:
recuento_credito = df["tipo"].loc[df["tipo"] == "Crédito"].count()
recuento_debito = df["tipo"].loc[df["tipo"] == "Débito"].count()

print(recuento_credito)
print(recuento_debito)

6
4

In [ ]:
print(f"""Reporte de transacciones
---------------------------------------------
Balance Final: {balance_final:.2f}
Transacción de Monto Mayor: ID {id_tr_mayor} - {monto_tr_mayor:2f}
Conteo de Transacciones: Crédito: {recuento_credito} Débito: {recuento_debito}""")

Reporte de transacciones
---------------------------------------------
Balance Final: 1736.0
Transacción de Monto Mayor: ID 5 - 1070.5
Conteo de Transacciones: Crédito: 6 Débito: 4